{% extends 'main/index.html' %}
{% block title %}Create Article{% endblock %}
{% block main %}
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Checkout form</h2>
                <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required
                    form
                    group has a validation state that can be triggered by attempting to submit the form without
                    completing
                    it.</p>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">New Article</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="w-100 btn btn-primary btn-lg" type="submit">New Article</button>
                </form>
            </div>
        </main>
    </div>
{% endblock %}